extends ../layout

block head
  title TransportSG - Next 2: #{station.stopName}

block title
  span Next 2: #{station.stopName}

block scripts
  
block style
  link(rel='stylesheet' href='/static/css/combined-colours.css')
  link(rel='stylesheet' href='/static/css/timings/base-style.css')

block content
  div#departures
    for departure in departures
      div.departure
        a(class=`leftContainer ${departure.codedLineName}`)
          span.topText Platform
          span.serviceNumber=departure.platform || '?'
        a.departureInfo
          span.towards=`${departure.routeName} towards`
          span.destination=departure.destination
        div.timings
          div(class='timing seating-sea')
            span #{timeDifference(departure.estimatedDepartureTime)}
            span #{departure.estimatedDepartureTime.format('HH:mm')}
